<div class="FactoryArea">
  <div *ngIf="Player?.BpInFactory">
    In production: <b>{{Player?.BpInFactory}}</b> finished <b>{{RemainingTime | date : 'HH:mm:ss'}}</b><br />
  </div>
  <div *ngFor="let i of Resources?.itemStacks" style="float:left; display:block">
    <img class="image" src="../../assets/Items/{{i.id == 5401 ? i.ammo * 100000 : i.id}}.png" alt="{{i.id}}" title="{{GetName(i)}}" />
    <div *ngIf="!WithEdit" style="color:white">{{i.count}}</div>
    <mat-form-field *ngIf="WithEdit" style="margin-left:1em; margin-right:1em; width:10em">
      <input matInput IntegersOnly (change)="Changed=true" [(ngModel)]="i.count" type="number" placeholder="{{GetName(i)}}" />
    </mat-form-field>
    <br />
  </div>
</div>
<app-select-item-dialog></app-select-item-dialog>
<mat-menu *ngIf="Player?.Online" #contextMenu="matMenu" [matMenuTriggerFor]="contextMenu" style="position:absolute; top: -2em; right: 2em; z-index:100;">
  <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="SetBlueprintResources()">Save</button>
  <button mat-menu-item *ngIf="role.is(UserRole.GameMaster)" (click)="FinishBlueprint()">Finish</button>
  <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="AddItem()">Add item</button>
  <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="router.navigate(['restore/restorefactoryitems'])">Restore items</button>
</mat-menu>
