<div [hidden]="!displayFilter">
  <mat-form-field style="width:100%">
    <input matInput (keyup)="applyFilter($event.target.value)" (keyup.enter)="displayFilter=FilterInput.value" #FilterInput placeholder="Filter">
  </mat-form-field>
  <mat-paginator style="margin-top:-2em !important" showFirstLastButtons [pageSizeOptions]="[100, 500, 1000]"></mat-paginator>
</div>
<div class="divChat" [ngClass]="{'withFilter': displayFilter}">
  <table mat-table [dataSource]="messages" class="mat-elevation-z8">
    <ng-container matColumnDef="type" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef style="width:1%">
        <mat-icon style="cursor:pointer" [style.color]="FilterInput.value ? 'blue' : ''" title="Filter" (click)="toggleFilterDisplay(FilterInput)">search</mat-icon>
      </th>
      <td mat-cell *matCellDef="let chat">{{ ['0', 'P', '2', 'G', '4', 'F'][chat.Type]}}</td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let chat"> {{chat.Timestamp | date : "dd-HH:mm"}} </td>
    </ng-container>

    <ng-container matColumnDef="faction">
      <th mat-header-cell *matHeaderCellDef> Fac. </th>
      <td mat-cell *matCellDef="let chat">{{Faction(chat)?.Abbrev}}</td>
    </ng-container>

    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let chat" style="cursor: pointer;" (click)="ChatTo(chat)" title="Chat to {{chat.PlayerName}}">
        <mat-icon style="font-size:small; margin-right:-10px; color: lightblue;">chat</mat-icon>
        {{chat.PlayerName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell class="chatText" *matCellDef="let chat" style="width:100%"> {{chat.Message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getLineClass(row)"></tr>
  </table>
</div>
