<div [hidden]="!displayFilter">
  <mat-form-field style="width:85%">
    <input matInput (keyup)="applyFilter($event.target.value)" (keyup.enter)="displayFilter=FilterInput.value" #FilterInput placeholder="Filter">
  </mat-form-field>
  <mat-form-field style="width:10%; margin-left:1em" class="Test">
    <input type="text" matInput placeholder="Translate" [(ngModel)]="ChatTranslate" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option [value]="'de'">de = German</mat-option>
      <mat-option [value]="'en'">en = English</mat-option>
      <mat-option [value]="'fr'">fr = French</mat-option>
      <mat-option [value]="'it'">it = Italian</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="divChat" [ngClass]="{'withFilter': displayFilter}">
  <table mat-table [dataSource]="messages" class="mat-elevation-z8">
    <ng-container matColumnDef="type" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef style="width:1%">
        <mat-icon style="cursor:pointer; vertical-align:sub; margin-right:-5px" [style.color]="FilterInput.value ? 'blue' : ''" title="Filter" (click)="toggleFilterDisplay(FilterInput)">search</mat-icon>
      </th>
      <td mat-cell *matCellDef="let chat" (click)="ExecChatTranslate(chat)">
        <div *ngIf="!chat.TranslatedMessage && ChatTranslate" style="display:inline-block"><mat-icon style="font-size:smaller; margin-right:-10px; height:2px; color: blue;">g_translate</mat-icon></div>
        {{ ['0', 'P', '2', 'G', '4', 'F'][chat.Type]}}
      </td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let chat; let idx = index">
        <div *ngIf="dateChanged(idx)">{{chat.Timestamp | date : "dd.MM"}}<br />{{chat.Timestamp | date : "HH:mm"}}</div>
        <div *ngIf="!dateChanged(idx)">{{chat.Timestamp | date : "HH:mm"}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let chat" style="cursor: pointer;">
        <div (click)="ChatToPlayer(chat)" title="Chat to {{chat.PlayerName}}" class="PlayerName">
          <mat-icon class="chatIcon">chat</mat-icon>
          {{chat.PlayerName}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="faction">
      <th mat-header-cell *matHeaderCellDef> Faction </th>
      <td mat-cell *matCellDef="let chat" style="cursor: pointer;" class="PlayerName">
        <div (click)="ChatToFaction(chat)" title="Chat to {{Faction(chat)?.Abbrev}}" class="smallLine" style="font-size:small">
          <mat-icon *ngIf="Faction(chat)?.Abbrev" class="chatIcon">chat</mat-icon>
          {{Faction(chat)?.Abbrev}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell class="chatText" *matCellDef="let chat" style="width:100%">
        {{chat.Message}}
        <div *ngIf="chat.TranslatedMessage" style="display:inline-block"><mat-icon style="font-size:smaller; margin-right:-10px; color: blue;">arrow_right_alt</mat-icon>{{chat.TranslatedMessage}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx = index" [ngClass]="getLineClass(idx, row)"></tr>
  </table>
</div>
