<div class="divChat">
  <table mat-table [dataSource]="messages" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>R</th>
      <td mat-cell *matCellDef="let chat">{{ ['0', 'P', '2', 'G', '4', 'F'][chat.Type]}}</td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let chat"> {{chat.Timestamp | date : "dd-HH:mm"}} </td>
    </ng-container>

    <ng-container matColumnDef="faction">
      <th mat-header-cell *matHeaderCellDef> Fac. </th>
      <td mat-cell *matCellDef="let chat"> {{chat.FactionName}} </td>
    </ng-container>

    <ng-container matColumnDef="playerName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let chat" style="cursor: pointer;" (click)="ChatTo(chat)" title="Chat to {{chat.PlayerName}}">
        <mat-icon style="font-size:small; margin-right:-10px; color: lightblue;">chat</mat-icon>
        {{chat.PlayerName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell class="chatText" *matCellDef="let chat"> {{chat.Message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getLineClass(row)"></tr>
  </table>
</div>
