<div class="container-fluid" style="padding-top:5px">
  <div class="row">
    <div class="col col-lg-7">
      <mat-card style="margin:.5em">
        <div style="display:block; height:12em; position:relative">
          <mat-form-field style="position:absolute; left:.5em; right:60px;">
            <input type="text" placeholder="Welcome new player" [(ngModel)]="SystemConfig.welcomeMessage" aria-label="Number" matInput [matAutocomplete]="autoWelcome">
            <mat-autocomplete autoActiveFirstOption #autoWelcome="matAutocomplete">
              <mat-option *ngFor="let i of WelcomeMessagesList" [value]="i">
                {{i}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="position:absolute; top:4em; left:.5em; right:60px;">
            <input type="text" placeholder="StartCMD" [(ngModel)]="SystemConfig.startCMD" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let i of StartCMDList" [value]="i">
                {{i}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="position:absolute; top:8em; left:.5em; right:60px;">
            <input type="text" placeholder="Player steaminfo URL" [(ngModel)]="SystemConfig.playerSteamInfoUrl" aria-label="Number" matInput>
          </mat-form-field>
          <mat-icon style="cursor:pointer; position:absolute; right: 5px;" (click)="Save()" title="Save settings">save</mat-icon>
        </div>
        <button mat-raised-button class="mat-raised-button" (click)="StartEGS()">Start EGS</button>
        <mat-form-field style="margin-left:1em; margin-right:1em">
          <input matInput type="number" [(ngModel)]="WaitMinutes" placeholder="Stop/Restart wait for N minutes">
        </mat-form-field>
        <button mat-raised-button class="mat-raised-button" (click)="StopEGS()">Stop EGS</button>
        <button mat-raised-button class="mat-raised-button" (click)="RestartEGS()">Restart EGS</button>
        <br />
        <button mat-raised-button class="mat-raised-button" (click)="ShutdownEGSandEWA()">Shutdown EGS & EWA</button>
        <mat-icon style="color:red; vertical-align:sub">warning</mat-icon> EGS must then be started manually <mat-icon style="color:red; vertical-align:sub">warning</mat-icon>
      </mat-card>
      <mat-card style="margin:.5em">
        <div>
          <h3>Update Current: EWA {{SystemInfo.CurrentSystemInfo.version}} by {{SystemInfo.CurrentSystemInfo.copyright}}</h3>
          <app-file-upload [UploadURL]="'Systeminfo/UploadFile'" [UploadTitle]="'Choose a \'EWALoaderNNN.zip\' file'"  (uploaded)="onUploaded()"></app-file-upload>
        </div>
      </mat-card>
      <app-yes-no-dialog></app-yes-no-dialog>
    </div>
    <div class="col col-lg-5">
      <app-systeminfo #SystemInfo></app-systeminfo>
    </div>
  </div>
</div>
