.EmpyrionLogo{
  height:80px;
  padding-right:2em;
}

.EWAName {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font: bold;
  color: darkviolet;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
