<mat-card>
  <mat-card-content class="SystemInfo">
    <div style="display:inline-block; position:relative; width:100%;">
      <a target="_blank" href="https://empyriononline.com/" style="color:black" title="Empyrion - Galactic Survival - Communitiy Formus">
        <div class="logo">
          <img class="EmpyrionLogo" alt="Empyrion Web Access" src="../../assets/Empyrion.png" />
          <div class="EmpyrionVersion">{{CurrentSystemInfo.versionESG}} - {{CurrentSystemInfo.versionESGBuild}}</div>
        </div>
      </a>
      <div class="gameinfo">
        <div class="EWAName">Empyrion Web Access</div>
        <div class="ServerName">{{CurrentSystemInfo.serverName}}</div>
        <div style="font-size:smaller !important;">
          <mat-icon style="vertical-align:bottom" title="Players">person</mat-icon>
          {{CurrentSystemInfo.activePlayers}}
          <mat-icon style="vertical-align:bottom; margin-left:1em" title="Playfields">network_check</mat-icon>
          {{CurrentSystemInfo.activePlayfields}} ({{CurrentSystemInfo.totalPlayfieldserver}}) = {{CurrentSystemInfo.totalPlayfieldserverMemorySize / (1024 * 1024 * 1024) | number : "1.1-1"}}GB
          <mat-icon style="vertical-align:bottom; margin-left:1em" title="EWA">token</mat-icon> {{CurrentSystemInfo.ewaMemorySize / (1024 * 1024 * 1024) | number : "1.1-1"}}GB
        </div>
        <div style="font-size:smaller !important;">
          <mat-icon style="vertical-align:bottom" title="CPU">computer</mat-icon><div style="display:inline-block; width:2em; text-align:right; margin-left:5px"> {{CurrentSystemInfo.cpuTotalLoad | number : "1.0-0"}}%</div>
          <mat-icon style="vertical-align:bottom" title="RAM">memory</mat-icon> {{(CurrentSystemInfo.ramTotalMB - CurrentSystemInfo.ramAvailableMB) / 1024 | number : "1.1-1"}}/{{CurrentSystemInfo.ramTotalMB / 1024 | number : "1.0-0"}} GB
          <mat-icon style="vertical-align:bottom" title="HDD">storage</mat-icon> {{CurrentSystemInfo.diskUsedSpace / (1024 * 1024 * 1024) | number : "1.1-1"}}/{{(CurrentSystemInfo.diskUsedSpace + CurrentSystemInfo.diskFreeSpace) / (1024 * 1024 * 1024) | number : "1.0-0"}} GB
          <mat-icon style="vertical-align:bottom" *ngIf="CurrentSystemInfo.eahAvailable" title="EAH available">star_half</mat-icon>
        </div>
      </div>
      <div class="systeminfo">
        <div [ngClass]="GetStateClass()" class="state-pos">{{GetStateDescription()}}</div>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="router.navigate(['user'])">User</button>
          <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="router.navigate(['restore'])">Restore</button>
          <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="router.navigate(['server'])">Server</button>
          <button mat-menu-item *ngIf="role.is(UserRole.VIP)" (click)="router.navigate(['entities'])">Entities</button>
          <button mat-menu-item *ngIf="role.is(UserRole.GameMaster)" (click)="router.navigate(['galaxy'])">Galaxy</button>
          <button mat-menu-item *ngIf="role.is(UserRole.InGameAdmin)" (click)="router.navigate(['timetable'])">Timetable</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()"><b>Logout</b></button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="openHelp()">Help</button>
          <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="latestVersion()">Update &gt;{{CurrentSystemInfo.version}} ?</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" style="position:absolute; top: 2em; right:-10px;">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
