<mat-card>
  <mat-card-content style="height:70px">
    <div style="float:left">
      <img class="EmpyrionLogo" alt="Empyrion Web Access" src="../../assets/Empyrion.png" />
    </div>
    <div style="float:left">
      <div class="EWAName">Empyrion Web Access</div>
      <div class="GameStat"><mat-icon style="vertical-align:bottom">network_check</mat-icon> Playfieldserver: Active:5 Total:8 = 12GB</div>
      <div class="ComputerStat"><mat-icon style="vertical-align:bottom">computer</mat-icon> CPU:I7-4444 RAM:20/32GB HDD:200/400GB</div>
    </div>
    <div style="float:right">
      Online
    </div>
  </mat-card-content>
</mat-card>
