<mat-card>
  <mat-card-content style="height:80px; margin-top:-18px">
    <div class="logo">
      <img class="EmpyrionLogo" alt="Empyrion Web Access" src="../../assets/Empyrion.png" />
    </div>
    <div class="gameinfo">
      <div class="EWAName">Empyrion Web Access</div>
      <div class="ServerName">{{CurrentSystemInfo.serverName}}</div>
      <div>
        <mat-icon style="vertical-align:bottom">network_check</mat-icon>
        PL:4
        PF: Active:5 Total:8 = 12GB
      </div>
      <div>
        <mat-icon style="vertical-align:bottom">computer</mat-icon>
        CPU:{{CurrentSystemInfo.cpuTotalLoad}}%
        RAM:{{(CurrentSystemInfo.ramTotalMB - CurrentSystemInfo.ramAvailableMB) / 1024 | number : "1.1-1"}}/{{CurrentSystemInfo.ramTotalMB / 1024 | number : "1.0-0"}}GB
        HDD:{{CurrentSystemInfo.diskUsedSpace / (1024 * 1024 * 1024) | number : "1.1-1"}}/{{(CurrentSystemInfo.diskUsedSpace + CurrentSystemInfo.diskFreeSpace) / (1024 * 1024 * 1024) | number : "1.0-0"}}GB
      </div>
    </div>
    <div class="systeminfo">
      <div [ngClass]="(CurrentSystemInfo.online ? '' : 'offline')">{{CurrentSystemInfo.online ? "online" : "offline"}}</div>
    </div>
  </mat-card-content>
</mat-card>
