<mat-card>
  <mat-card-content>
    <section class="line-section">
      <mat-checkbox [(ngModel)]="ChatService.ChatToAll" (disabled)="ChatService.ChatToAll" style="float:left;">Chat to all</mat-checkbox>
      <mat-checkbox [(ngModel)]="chatAsUser" style="float:left;padding-left:1em">Chat as {{currentUser.username}}</mat-checkbox>
      <mat-checkbox [(ngModel)]="chatList.autoscroll" style="float:right;">Autoscroll</mat-checkbox>
      <mat-checkbox [(ngModel)]="chatList.filterServerMsg" style="float:right;padding-right:1em">Filter Server</mat-checkbox>
    </section>
    <section class="line-section">
      <mat-form-field style="width:100%">
        <input matInput [(ngModel)]="message" maxlength="256" placeholder="Message" (keyup.enter)="SendMessage()" >
        <mat-hint align="start"><strong>Chat to: {{ChatService.ChatTarget}}</strong> </mat-hint>
        <mat-hint align="end">{{message.length}}</mat-hint>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
