.line-section {
  align-content: center;
  align-items: center;
}

.line-section.select {
  font-size: 11px;
}

@media (max-width: 1024px) {
  .line-section.select {
    font-size: 8px;
  }

  .lablewrap {
    white-space: normal;
    width: 4em;
  }
}

