<h2 mat-dialog-title>
  Select Item
  <img *ngIf="SelectedItemInfo.id" class="image" src="../../assets/Items/{{SelectedItemInfo.id}}.png" alt="{{SelectedItemInfo.id}}" title="{{SelectedItemInfo.name}}" />
</h2>
<mat-dialog-content>
  <mat-form-field>
    <input type="text" placeholder="Item" [formControl]="SelectedItem" aria-label="Number" matInput [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let i of filteredOptions | async" [value]="i.name">
        <div style="display:inline-block; width:2em">
          <img class="image" src="../../assets/Items/{{i.id}}.png" style="width:2em" />
        </div>
        ({{i.id}}) {{i.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Count</mat-label>
    <input matInput type="number" [(ngModel)]="ItemStack.count" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="position:relative">
  <button class="mat-raised-button" (click)="Cancel()"  style="position:absolute; left:1em">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="AddItem()" style="position:absolute; right:1em">Select item</button>
</mat-dialog-actions>
