<div class="container-fluid">
  <div class="row" *ngIf="role.is(UserRole.GameMaster)">
    <div class="col">
      <mat-card style="margin-bottom:1em">
        <div style="display:inline-block; width:100%">
          <mat-form-field style="width:80%">
            <mat-select placeholder="Playfield" [(value)]="SelectedPlayfieldName">
              <mat-option *ngFor="let i of Playfields" [value]="i.name">
                {{i.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-radio-group [(ngModel)]="View2D" style="position:relative; margin-left:1em">
            <mat-radio-button [value]="(true)" style="position:absolute;">2D</mat-radio-button>
            <mat-radio-button [value]="(false)" style="position:absolute; bottom:-2em">3D</mat-radio-button>
          </mat-radio-group>
          <button *ngIf="SelectedPlayfieldName" mat-icon-button [matMenuTriggerFor]="appMenu" style="position:absolute; top: 2em; right:10px;">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <mat-checkbox style="margin-left:10px"
                          (change)="ChangeWipe('poi', $event.checked)"
                          (click)="$event.stopPropagation()"
                          [checked]="Wipe('poi')">
              POIs
            </mat-checkbox><br />
            <mat-checkbox style="margin-left:10px"
                          (change)="ChangeWipe('deposit', $event.checked)"
                          (click)="$event.stopPropagation()"
                          [checked]="Wipe('deposit')">
              Deposits
            </mat-checkbox><br />
            <mat-checkbox style="margin-left:10px"
                          (change)="ChangeWipe('terrain', $event.checked)"
                          (click)="$event.stopPropagation()"
                          [checked]="Wipe('terrain')">
              Terrain
            </mat-checkbox><br />
            <mat-checkbox style="margin-left:10px"
                          (change)="ChangeWipe('player', $event.checked)"
                          (click)="$event.stopPropagation()"
                          [checked]="Wipe('player')">
              Playerstructures
            </mat-checkbox><br />
            <button mat-menu-item (click)="ExecWipe()">Wipe on next load</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="WipeComplete()">Reset complete playfield</button>
          </mat-menu>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-10">
      <mat-card style="margin-bottom:1em">
        <div style="position:relative; overflow:auto" [style.zoom]="ZoomValue" *ngIf="SelectedPlayfield">
          <div #MapImage style="width:1024px;" [style.height]="SelectedPlayfield.isPlanet ? '512px' : '1024px'">
            <ng-container *ngIf="!View2D">
              <app-playfield-planetview3d *ngIf="SelectedPlayfield.isPlanet" [PlanetSurfacePNG]="MapUrl"></app-playfield-planetview3d>
              <app-playfield-spaceview3d *ngIf="!SelectedPlayfield.isPlanet" [Structures]="SelectedPlayfieldStructures" [Players]="SelectedPlayfieldPlayers"></app-playfield-spaceview3d>
            </ng-container>
            <ng-container *ngIf="View2D">
              <img [src]="MapUrl" alt="[Savegame]\MODs\EWA\Maps\{{SelectedPlayfield.name}}\map.png not found upload or copy it from your client cache [Cache]\Playfields\{{SelectedPlayfield.name}}\map.png" [style.height]="SelectedPlayfield.isPlanet ? '512px' : '100%'" [style.width]="SelectedPlayfield.isPlanet ? '' : '100%'">
            </ng-container>
          </div>
          <ng-container *ngIf="View2D">
            <div *ngFor="let s of SelectedPlayfieldStructures">
              <div (click)="SelectStructure(s)" title="{{s?.name}}" style="position:absolute; cursor:pointer;" [style.left]="CalcLeft(s?.pos)" [style.top]="CalcTop(s?.pos)" [style.z-index]="StructurZIndex(s)">
                <mat-icon style="margin-left:-.5em; margin-top:.5em" [style.color]="StructurColor(s)">{{StructurIcon(s)}}</mat-icon>
              </div>
            </div>
            <div *ngFor="let p of SelectedPlayfieldPlayers">
              <div (click)="SelectPlayer(p)" title="{{p?.PlayerName}}" style="position:absolute; cursor:pointer;" [style.left]="CalcLeft(p.Pos)" [style.top]="CalcTop(p.Pos)" [style.z-index]="PlayerZIndex(p)">
                <mat-icon style="margin-left:-.5em; margin-top:.5em;" [style.color]="PlayerColor(p)">person</mat-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
    <div class="col col-lg-2">
      <mat-card>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="isAllSelected()"
                      [indeterminate]="mDisplay.length && !isAllSelected()">
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('POn') : null"
                      [checked]="isSelected('POn')">
          <mat-icon style="color:green">person</mat-icon> Player online
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('POff') : null"
                      [checked]="isSelected('POff')">
          <mat-icon style="color:cornflowerblue">person</mat-icon> Player offline
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('BA') : null"
                      [checked]="isSelected('BA')">
          <mat-icon>store_mall_directory</mat-icon> BA
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('CV') : null"
                      [checked]="isSelected('CV')">
          <mat-icon>local_play</mat-icon> CV
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('SV') : null"
                      [checked]="isSelected('SV')">
          <mat-icon>flight</mat-icon> SV
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('HV') : null"
                      [checked]="isSelected('HV')">
          <mat-icon>directions_car</mat-icon> HV
        </mat-checkbox><br />
      </mat-card>
      <mat-card *ngIf="View2D">
        <mat-label>
          Zoom: {{ZoomValue * 100}}%</mat-label>
        <mat-slider style="width: 100%"
                    [max]="5"
                    [min]="0.5"
                    [step]="0.5"
                    [thumbLabel]="true"
                    [tickInterval]="1"
                    [(ngModel)]="ZoomValue"
                    [vertical]="false">
        </mat-slider>
      </mat-card>
      <mat-card *ngIf="View2D && role.is(UserRole.Moderator)">
        <app-file-upload [UploadURL]="UploadURL(SelectedPlayfieldName)" [UploadTitle]="'Upload Map\'s'" (uploaded)="onUploaded()"></app-file-upload>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card *ngIf="SelectedPlayfieldName">
        <mat-tab-group>
          <mat-tab label="Structures">
            <ng-template matTabContent>
              <app-structures-list [SelectedPlayfield]="SelectedPlayfieldName"></app-structures-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Player">
            <ng-template matTabContent>
              <app-player-list [SelectedPlayfield]="SelectedPlayfieldName"></app-player-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
<app-yes-no-dialog></app-yes-no-dialog>
