<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-card style="margin-bottom:1em">
        <div style="display:inline-block; width:100%">
          <mat-form-field style="width:100%">
            <mat-select placeholder="Playfield" [(value)]="SelectedPlayfieldName">
              <mat-option *ngFor="let i of Playfields" [value]="i.name">
                {{i.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-10">
      <mat-card style="margin-bottom:1em">
        <div style="position:relative; overflow:auto" *ngIf="SelectedPlayfield">
          <div #MapImage style="width:1024px;" [style.height]="SelectedPlayfield.isPlanet ? '512px' : '1024px'">
            <img *ngIf="SelectedPlayfield.isPlanet" [src]="MapUrl" alt="[Savegame]\MODs\EWA\Maps\{{SelectedPlayfield.name}}\map.png not found upload or copy it from your client cache [Cache]\Playfields\{{SelectedPlayfield.name}}\map.png">
            <div *ngIf="!SelectedPlayfield.isPlanet" style="background-color:black"></div>
          </div>
          <div *ngFor="let s of PlayfieldStructures">
            <div *ngIf="isSelected(s.TypeName)" (click)="SelectStructure(s)" title="{{s?.name}}" style="position:absolute; cursor:pointer;" [style.left]="CalcLeft(s?.pos)" [style.top]="CalcTop(s?.pos)" [style.z-index]="StructurZIndex(s)">
              <mat-icon style="margin-left:-.5em; margin-top:.5em" [style.color]="StructurColor(s)">{{StructurIcon(s)}}</mat-icon>
            </div>
          </div>
          <div *ngFor="let p of PlayfieldPlayers">
            <div *ngIf="isSelected(p.Online ? 'POn' : 'POff')" (click)="SelectPlayer(p)" title="{{p?.PlayerName}}" style="position:absolute; cursor:pointer;" [style.left]="CalcLeft(p.Pos)" [style.top]="CalcTop(p.Pos)" [style.z-index]="PlayerZIndex(p)">
              <mat-icon style="margin-left:-.5em; margin-top:.5em;" [style.color]="PlayerColor(p)">person</mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col col-lg-2">
      <mat-card>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="isAllSelected()"
                      [indeterminate]="mDisplay.length && !isAllSelected()">
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('POn') : null"
                      [checked]="isSelected('POn')">
          <mat-icon style="color:green">person</mat-icon> Player online
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('POff') : null"
                      [checked]="isSelected('POff')">
          <mat-icon style="color:cornflowerblue">person</mat-icon> Player offline
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('BA') : null"
                      [checked]="isSelected('BA')">
          <mat-icon>store_mall_directory</mat-icon> BA
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('CV') : null"
                      [checked]="isSelected('CV')">
          <mat-icon>local_play</mat-icon> CV
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('SV') : null"
                      [checked]="isSelected('SV')">
          <mat-icon>flight</mat-icon> SV
        </mat-checkbox><br />
        <mat-checkbox (change)="$event ? selectionToggle('HV') : null"
                      [checked]="isSelected('HV')">
          <mat-icon>directions_car</mat-icon> HV
        </mat-checkbox><br />
      </mat-card>
      <mat-card>
        <app-file-upload [UploadURL]="UploadURL(SelectedPlayfieldName)" [UploadTitle]="'Upload Map\'s'" (uploaded)="onUploaded()"></app-file-upload>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card *ngIf="SelectedPlayfieldName">
        <mat-tab-group>
          <mat-tab label="Structures">
            <ng-template matTabContent>
              <app-structures-list [SelectedPlayfield]="SelectedPlayfieldName" (SelectStructure)="onSelectStructure($event)"></app-structures-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Player">
            <ng-template matTabContent>
              <app-player-list [SelectedPlayfield]="SelectedPlayfieldName"></app-player-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
