<div class="PlayerArea" *ngIf="Player">
  <mat-card>
    <mat-card-title>
      Command for: {{Player.PlayerName}}
      <a href="{{mSystemInfoService.SystemConfig.playerSteamInfoUrl}}/{{Player.SteamId}}" target="_blank">
        <mat-icon style="cursor:pointer; font-size:medium;" title="Steamprofile">info</mat-icon>
      </a>
      <mat-icon class="onlineState" *ngIf="Player?.Online" style="cursor:pointer; color: green; font-size:medium" title="Online">account_circle</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field style="width:90%">
        <mat-label>Console command:</mat-label>
        <input type="text" matInput [formControl]="PlayerCommandControl" (keydown.enter)="Execute()">
      </mat-form-field>
      <mat-icon style="color:green;" (click)="Execute()" title="Execute command (Enter)">play_arrow</mat-icon>
      <textarea class="commandHistoryArea" [(ngModel)]="CommandHistory" placeholder="Commands"></textarea>
    </mat-card-content>
  </mat-card>
</div>
<mat-menu *ngIf="role.is(UserRole.Moderator)" #contextMenu="matMenu" [matMenuTriggerFor]="contextMenu" style="position:absolute; top: -2em; right: 2em; z-index:100;">
</mat-menu>
<app-yes-no-dialog></app-yes-no-dialog>
