<div style="position:relative">
  <mat-icon style="cursor:pointer; position:absolute; top: 5px; right:10px; z-index:100" (click)="router.navigate([''])" title="Home">home</mat-icon>
  <mat-tab-group #MatTabGroup>
    <mat-tab label="Backpack">
      <ng-template matTabContent>
        <app-restore-backpack></app-restore-backpack>
      </ng-template>
    </mat-tab>
    <mat-tab label="Factoryitems">
      <ng-template matTabContent>
        <app-restore-factoryitems></app-restore-factoryitems>
      </ng-template>
    </mat-tab>
    <mat-tab label="Structures">
      <ng-template matTabContent>
        <app-restore-structure></app-restore-structure>
      </ng-template>
    </mat-tab>
    <mat-tab label="Player">
      <ng-template matTabContent>
        <app-restore-player></app-restore-player>
      </ng-template>
    </mat-tab>
    <mat-tab label="Playfields">
      <ng-template matTabContent>
        <app-restore-playfield></app-restore-playfield>
      </ng-template>
    </mat-tab>
    <mat-tab label="Manager">
      <ng-template matTabContent>
        <app-restore-manager></app-restore-manager>
      </ng-template>
    </mat-tab>
    <mat-tab label="History">
      <ng-template matTabContent>
        <app-history-book-of></app-history-book-of>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
