<h2>
  Restore backpack for: {{CurrentPlayer?.PlayerName}}
  <span *ngIf="!(CurrentPlayer?.Online)">(!!! offline !!!)</span>
</h2>
<div class="container-fluid" style="padding-top:5px" *ngIf="PlayerService.CurrentPlayer">
  <div class="row">
    <div class="col col-lg-4">
      <div class="divBackpackList">
        <table mat-table [dataSource]="Backpacks" class="mat-elevation-z8" style="width:100%">
          <ng-container matColumnDef="Timestamp">
            <th mat-header-cell *matHeaderCellDef>
              Timestamp
            </th>
            <td mat-cell *matCellDef="let b">
              {{b.timestamp | date : 'dd.MM.yyyy HH:mm:ss'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Slots">
            <th mat-header-cell *matHeaderCellDef>
              Slots
            </th>
            <td mat-cell *matCellDef="let b">
              {{SlotCount(b)}}
            </td>
          </ng-container>
          

          <tr mat-header-row *matHeaderRowDef="['Timestamp', 'Slots']; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Timestamp', 'Slots'];"
              [ngClass]="{'highlight': SelectedBackpack == row}"
              (click)="SetCurrentBackpack(row)"></tr>
        </table>
        <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
      </div>
    </div>
    <div class="col">
      <div style="background-color:black; display:inline-block">
        <app-player-backpack [backpack]="CurrentBackpack" [WithDelete]="false"></app-player-backpack>
      </div>
      <br />
      <mat-icon *ngIf="CurrentPlayer?.Online" style="font-size:5em; cursor: pointer; color:darkgreen;" (click)="RestoreCurrentBackpack()" title="Restorebackpack for {{CurrentPlayer?.PlayerName}}">settings_backup_restore</mat-icon>
    </div>
  </div>
</div>
<app-yes-no-dialog></app-yes-no-dialog>
