<div class="container-fluid" style="padding-top:5px" *ngIf="currentUser.token">
  <div class="row">
    <div class="col col-lg-5" style="padding-left:0px; padding-right:0px">
      <div class="container">
        <div class="row align-items-start">
          <div class="col" style="padding-left:2px; padding-right:2px;">
            <app-player-list #playerlist></app-player-list>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col" style="padding-left:0px; padding-right:0px; position:relative;">
            <button mat-icon-button [matMenuTriggerFor]="CurrentComponent?.contextMenu" style="position:absolute; top: -5px; right:-5px; cursor:pointer; z-index:99">
              <mat-icon mat-menu-icon>more_vert</mat-icon>
            </button>
            <mat-tab-group (selectedTabChange)="DetailsTabChanged($event)">
              <mat-tab label="Backpack">
                <div style="background-color: black; padding-left:2px; padding-right:2px; margin-top:2px;">
                  <app-player-backpack [PlayerSteamId]="playerlist.CurrentPlayerSteamId"></app-player-backpack>
                </div>
              </mat-tab>
              <mat-tab label="Playerdetails">
                <app-player-details></app-player-details>
              </mat-tab>
              <mat-tab label="Factory">
                <app-factory></app-factory>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-2" style="padding-right:0px; padding-left:0px">
      <app-active-playfields [(CurrentPlayer)]="playerlist.CurrentPlayer"></app-active-playfields>
      <div class="version">EWA {{SystemInfo.CurrentSystemInfo.version}} by {{SystemInfo.CurrentSystemInfo.copyright}}</div>
    </div>
    <div class="col col-lg-5" style="padding-left:0px; padding-right:0px">
      <div class="container">
        <div class="row align-items-start" style="padding-bottom:5px">
          <div class="col">
            <app-systeminfo #SystemInfo ></app-systeminfo>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <app-chat-list #chatList></app-chat-list>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col" style="padding-top:5px">
            <app-chat [chatList]="chatList"></app-chat>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
