<div class="container-fluid" style="padding-top:5px" *ngIf="currentUser.token">
  <div class="row">
    <div class="col col-lg-5" style="padding-left:0px; padding-right:0px">
      <div class="container">
        <div class="row align-items-start">
          <div class="col" style="padding-left:2px; padding-right:2px;">
            <app-player-list #playerlist></app-player-list>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col" style="padding-left:0px; padding-right:0px">
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label style="position:relative">
                  <div style="position:absolute; left:10px;">Backpack</div>
                  <mat-icon style="cursor:pointer; position:absolute; right:.5em" (click)="saveUser()" title="Restore backpack">settings_backup_restore</mat-icon>
                </ng-template>
                <div style="background-color: black; padding-left:2px; padding-right:2px; margin-top:2px;">
                  <app-player-backpack [PlayerSteamId]="playerlist.CurrentPlayerSteamId"></app-player-backpack>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label style="position:relative">
                  <div style="position:absolute; left:10px;">Playerdetails</div>
                  <mat-icon style="cursor:pointer; position:absolute; right:.5em" (click)="PlayerDetails.SaveChanges()" title="Save">save</mat-icon>
                </ng-template>
                <app-player-details #PlayerDetails></app-player-details>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-2" style="padding-right:0px; padding-left:0px">
      <app-active-playfields [(CurrentPlayer)]="playerlist.CurrentPlayer"></app-active-playfields>
      <div class="version">EWA {{SystemInfo.CurrentSystemInfo.version}} by {{SystemInfo.CurrentSystemInfo.copyright}}</div>
    </div>
    <div class="col col-lg-5" style="padding-left:0px; padding-right:0px">
      <div class="container">
        <div class="row align-items-start" style="padding-bottom:5px">
          <div class="col">
            <app-systeminfo #SystemInfo ></app-systeminfo>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <app-chat-list #chatList></app-chat-list>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col" style="padding-top:5px">
            <app-chat [chatList]="chatList"></app-chat>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
