.counts {
  color: white;
  margin-bottom: 0px;
  bottom: 10px;
  font-size: small;
  position: absolute;
}

.image {
  position: absolute;
}

.Item {
    background-color: black;
    position:relative;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
    padding: 2px 2px 2px 2px
  }
