<div class="BackpackArea">
  <div class="Item" *ngFor="let i of backpack.Toolbar" (click)="EditItem(i)">
    <img class="image" src="../../assets/Items/{{i.id == 5401 ? i.ammo * 100000 : i.id}}.png" alt="{{i.id}}" title="{{GetName(i)}} ({{i.id}})" />
    <div class="counts" *ngIf="i.id == 5401">
      T:{{i.ammo}}
    </div>
    <div class="counts" *ngIf="i.id != 5401">
      <span *ngIf="i.ammo > 0">{{i.ammo}}/</span>
      {{i.count}}
    </div>
  </div>
  <div class="Item" *ngFor="let i of backpack.Bag" (click)="EditItem(i)">
    <img class="image" src="../../assets/Items/{{i.id == 5401 ? i.ammo * 100000 : i.id}}.png" alt="{{i.id}}" title="{{GetName(i)}} ({{i.id}})" />
    <div class="counts" *ngIf="i.id == 5401">
      T:{{i.ammo}}
    </div>
    <div class="counts" *ngIf="i.id != 5401">
      <span *ngIf="i.ammo > 0">{{i.ammo}}/</span>
      {{i.count}}
    </div>
  </div>
</div>
<app-select-item-dialog></app-select-item-dialog>
<mat-menu *ngIf="Player?.Online" #contextMenu="matMenu" [matMenuTriggerFor]="contextMenu" style="position:absolute; top: -2em; right: 2em; z-index:100;">
  <button mat-menu-item *ngIf="role.is(UserRole.GameMaster)" (click)="AddItem()">Add item</button>
  <button mat-menu-item *ngIf="role.is(UserRole.Moderator)" (click)="router.navigate(['restore'])">Restore backpack</button>
</mat-menu>
<app-yes-no-dialog></app-yes-no-dialog>
