<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-card style="margin-bottom:1em">
        <div style="display:inline-block; width:100%">
          <mat-form-field style="width:100%">
            <mat-select placeholder="Backup" [(value)]="SelectedBackup">
              <mat-option *ngFor="let i of Backups" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    </div>
    <div class="row">
      <div class="col col-lg-3">
        <mat-card>
          <mat-dialog-content>
            <h3>{{CurrentStructure?.name}}</h3>
            <mat-form-field>
              <mat-select placeholder="Playfield" [(value)]="WarpData.playfield">
                <mat-option *ngFor="let pl of Playfields" [value]="pl">
                  {{pl}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>X: (East/West) </mat-label>
              <input matInput type="number" [(ngModel)]="WarpData.pos.x" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Y: (Height) </mat-label>
              <input matInput type="number" [(ngModel)]="WarpData.pos.y" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Z: (North/South) </mat-label>
              <input matInput type="number" [(ngModel)]="WarpData.pos.z" />
            </mat-form-field>
          </mat-dialog-content>
          <br/>
          <mat-dialog-actions>
            <div *ngIf="mPositionService.CurrentPosition?.description" style="display:block">
              <button mat-button class="mat-raised-button" (click)="copyPosition()">Load {{mPositionService.CurrentPosition.description}}</button>
            </div>
            <button mat-button class="mat-raised-button" (click)="setToZeroPosition()">Zero</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-button class="mat-raised-button mat-primary" (click)="Create()">Create</button>
          </mat-dialog-actions>
        </mat-card>
      </div>
      <div class="col col-lg-9">
        <mat-card>
          <div [hidden]="!displayFilter">
            <mat-form-field style="width:100%; margin-top:-15px">
              <input matInput (keyup)="applyFilter($event.target.value)" (keyup.enter)="displayFilter=FilterInput.value" #FilterInput placeholder="Filter">
            </mat-form-field>
          </div>

          <div class="divStructureList">
            <table mat-table [dataSource]="structures" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="id" [sticky]="true">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Id
                  <mat-icon style="cursor:pointer" [style.color]="FilterInput.value ? 'blue' : ''" title="Filter" (click)="toggleFilterDisplay(FilterInput)">search</mat-icon>
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.id}}
                </td>
              </ng-container>

              <ng-container matColumnDef="name" [sticky]="true">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Name
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="playfield">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Playfield
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.playfield}}
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Type
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.type}}
                </td>
              </ng-container>

              <ng-container matColumnDef="core">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Core
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.core}}
                </td>
              </ng-container>

              <ng-container matColumnDef="posX">
                <th mat-header-cell *matHeaderCellDef style="text-align:right !important;">
                  E/W
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.pos?.x | number : "1.2-2"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="posY">
                <th mat-header-cell *matHeaderCellDef style="text-align:right !important;">
                  Height
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.pos?.y | number : "1.2-2"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="posZ">
                <th mat-header-cell *matHeaderCellDef style="text-align:right !important;">
                  N/S
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.pos?.z | number : "1.2-2"}}
                </td>
              </ng-container>

              <ng-container matColumnDef="faction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Faction
                </th>
                <td mat-cell *matCellDef="let s">
                  {{FactionService.GetFaction(s.faction)?.Abbrev}} ({{s.faction}})
                </td>
              </ng-container>

              <ng-container matColumnDef="blocks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Blocks
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.blocks}}
                </td>
              </ng-container>

              <ng-container matColumnDef="devices">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Devices
                </th>
                <td mat-cell *matCellDef="let s" align="right">
                  {{s.devices}}
                </td>
              </ng-container>

              <ng-container matColumnDef="touched_time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Touched
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.touched_time | date : 'dd.MM.yyyy HH:mm:ss'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="touched_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Touched by
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.touched_name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="add_info">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Info
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.add_info}}
                </td>
              </ng-container>

              <ng-container matColumnDef="structureName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  StructureName
                </th>
                <td mat-cell *matCellDef="let s">
                  {{s.structureName}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  [ngClass]="{'highlight': CurrentStructure?.id == row.id}"
                  (click)="CurrentStructure = row"></tr>
            </table>
          </div>
          <mat-paginator style="margin-bottom:-5px" showFirstLastButtons [pageSizeOptions]="[100, 500, 1000]"></mat-paginator>
        </mat-card>
      </div>
    </div>
  </div>
